/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*------------------------------------*/

html{
	margin: auto;
	background-color: #333333;
	font-family: Segoe UI Black;
	box-shadow: inset 10px 10px 50px #2c2c2c, 
    inset -10px -10px 50px #5c5c5c;
}

body{
	text-align: center;
	padding: 0;
	background-color: #00675b;
	text-align: center;
	border-style: solid;
	border-color: black;
	border-width: 5px;
	border-bottom-right-radius: 50px;
	border-top-right-radius: 50px;
	border-bottom-left-radius: 50px;
	border-top-left-radius: 50px;
	width: 1500px;
	text-align: center;
	margin: auto;
	box-shadow: inset 10px 10px 50px #015C51, 
    inset -10px -10px 50px #014F46;
}

h1{
	text-align : center;
	font-size: 60px;
	font-weight: bold;
}

nav{
	border-style: solid;
	border-width: 5px;
	border-color: black;
	text-align:center;
	font-weight:bold;
	font-size: 20px;
	border-bottom-right-radius: 50px;
	border-top-right-radius: 50px;
	border-bottom-left-radius: 50px;
	border-top-left-radius: 50px;
}

td,th{
	margin: auto;
	text-align: center;
    border: 1px solid black;
}

table{
	margin: auto;
	text-align: center;
    border-collapse: collapse;
}

p{
	text-align: justify;
}

.objets {
	text-align: center;
}

h2{
	text-decoration: underline;
	font-weight: bold;
	font-size: 25px;
}

h3{
	text-align: center;
	text-decoration: underline;
	font-weight: bold;
	font-size: 25px;
}

.masuda{
	border-style: solid;
	border-width: 5px;
}

.pokemon{
	text-align: center;
}

.talents{
	text-align: center;
}

.autre{
	text-align: center;
}

*{
	box-sizing: border-box;
}

a{
	text-decoration: none;
	color: #333;
}

.wrapper{
	margin: 0 auto;
	width: 1000px;
}

header li{
	display: inline-block;
	vertical-align: top;
	position: relative;
}

header li a{
	display: block;
	padding: 20px;
}

header li:hover a {
	background-color: #33D0FF;
	color: #fff;
}

header li:hover .sub-menu {
	display: block;
}

.sub-menu{
	display: none;
	position: absolute;
	background-color: #33D0FF;
	width: 200px;
}

.sub-menu li {
	display: block;
}

.sub-menu li a{
	color: #fff;
}

.sub-menu li:hover a{
	background-color: #fff;
	color: #33D0FF;
}

table{
	margin: auto;
	font-weight: bold;
	border-collapse : separate;
 	border-spacing : 10px;

}

th{
	margin: auto;
	text-align: center;
	border-bottom-right-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-top-left-radius: 20px;
	background-color: #333333;
	border-width: 3px;

}

td{
	margin: auto;
	text-align: center;
	border-bottom-right-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-top-left-radius: 20px;
	background-color: aliceblue;
	border-width: 3px;
}

.invisible{
	border-width: 0px;
	background-color: #00675b;
}

.container .bar:not(:last-child){
    margin-bottom: 15px;
}

.bar {
	border-style: solid;
	border-width: 3px;
	border-color: black;
	margin-left: 25%;
	margin-right: 25%;
    background: #444;
    border-radius: 5px;
    box-shadow: inset 5px 5px 10px #2c2c2c, 
    inset -5px -5px 10px #5c5c5c;
}

.bar-stat{
    padding: 8px 20px;
    border-radius: 5px;
    text-shadow: 0 0 5px #000;
}

#html{
    background: #d65c3d;
    animation: htmlSlide 1.5s cubic-bezier(0.33, 1, 0.68, 1) forwards;
}

#css{
    background: #3755cc;
    animation: cssSlide 1.5s cubic-bezier(0.33, 1, 0.68, 1) forwards;
}

#js{
    background: #d4a040;
    animation: jsSlide 1.5s  cubic-bezier(0.33, 1, 0.68, 1) forwards;
}

@keyframes htmlSlide{
    0%{width: 0%;}
    100%{width: 31.59%;} /*<-- modifier le pourcentage ici pour modifier la taille de la bar*/
}

@keyframes cssSlide{
    0%{width: 0%;}
    100%{width: 80%;}
}

@keyframes jsSlide{
    0%{width: 0%;}
    100%{width: 60%;}
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*------------------------------------*/
/*297 Pokemon trouvé sur 940*/
/*------------------------------------*/
/*------------------------------------*/
/*Changer la couleur du fond du pokemon*/
/*------------------------------------*/

.Chenipan{
	background-color: #ffc800
}

.Nosferapti{
	background-color: #ffc800
}

.Dracolosse{
	background-color: #ffc800
}

.Simularbre{
	background-color: #ffc800
}

.Zebibron{
	background-color: #ffc800
}

.Judokrak{
	background-color: #ffc800
}

.Trompignon{
	background-color: #ffc800
}

.Plumeline-pompom{
	background-color: #ffc800
}

.Khélocrok{
	background-color: #ffc800
}

.Sorbebe{
	background-color: #ffc800
}

.Arcko{
	background-color: #ffc800
}

.Monorpale{
	background-color: #ffc800
}

.Roucool{
	background-color: #ffc800
}

.Bulbizar{
	background-color: #ffc800
}

.Tournicoton{
	background-color: #ffc800
}

.Katagami{
	background-color: #ffc800
}

.Papilusion{
	background-color: #ffc800
}

.Zeblitz{
	background-color: #ffc800
}

.Chétiflor{
	background-color: #ffc800
}

.Granivol{
	background-color: #ffc800
}

.Barbicha{
	background-color: #ffc800
}

.Sorboul{
	background-color: #ffc800
}

.Psystigri{
	background-color: #ffc800
}

.Coconfort{
	background-color: #ffc800
}

.Larveyette{
	background-color: #ffc800
}

.Plumeline-buyo{
	background-color: #ffc800
} 

.Arkeapti{
	background-color: #ffc800
}

.Chrysacier{
	background-color: #ffc800
}

.Cobaltium{
	background-color: #ffc800
}

.Coxy{
	background-color: #ffc800
}

.Chartor{
	background-color: #ffc800
}

.Lovdisc{
	background-color: #ffc800
}
.Stari{
	background-color: #ffc800
}

.Nosferalto{
	background-color: #ffc800;
}

.Amagara{
	background-color: #ffc800;
}

.Krakos{
	background-color: #ffc800;
}

.Kraknoix{
	background-color: #ffc800;
}

.Pikachu{
	background-color: #ffc800;
}

.Venalgue{
	background-color: #ffc800;
}

.Poichigeon{
	background-color: #ffc800;
}

.Farfuret{
	background-color: #ffc800;
}

.Carvanha{
	background-color: #ffc800;
}

.Héricendre{
	background-color: #ffc800;
}

.Grillepattes{
	background-color: #ffc800;
}

.Fluvetin{
	background-color: #ffc800;
}

.Absol{
	background-color: #ffc800;
}

.Grahyèna{
	background-color: #ffc800;
}

.Laporeille{
	background-color: #ffc800;
}

.Kravarech{
	background-color: #ffc800;
}

.Brocélôme{
	background-color: #ffc800;
}

.Farfaduvet{
	background-color: #ffc800;
}

.Poulpaf{
	background-color: #ffc800;
}

.Armaldo{
	background-color: #ffc800;
}

.Bombydou{
	background-color: #ffc800;
}

.Félinferno{
	background-color: #ffc800;
}

.Chinchidou{
	background-color: #ffc800;
}

.Pichu{
	background-color: #ffc800;
}

.Charbi{
	background-color: #ffc800;
}

.Wattapik{
	background-color: #ffc800;
}

.Rocabot{
	background-color: #ffc800;
}

.Minisange{
	background-color: #ffc800;
}

.Lougaroc-diurne{
	background-color: #ffc800;
}

.Bacabouh{
	background-color: #ffc800;
}

.Paras{
	background-color: #ffc800;
}

.Chovsourir{
	background-color: #ffc800;
}

.Nounourson{
	background-color: #ffc800;
}

.Zorua{
	background-color: #ffc800;
}

.Crabaraque{
	background-color: #ffc800;
}

.Ptitard{
	background-color: #ffc800;
}

.Bekaglaçon{
	background-color: #ffc800;
}

.Medhyèna{
	background-color: #ffc800;
}

.Mysdibule{
	background-color: #ffc800;
}

.Blancoton{
	background-color: #ffc800;
}

.Regieleki{
	background-color: #ffc800;
}
.Bargantua-r{
	background-color: #ffc800;
}

.Rongourmand{
	background-color: #ffc800;
}

.Verpom{
	background-color: #ffc800;
}

.Caninos{
	background-color: #ffc800;
}

.Poissirène{
	background-color: #ffc800;
}

.Majaspic{
	background-color: #ffc800;
}

.Rattata{
	background-color: #ffc800;
}

.MiaoussA{
	background-color: #ffc800;
}

.Ténéfix{
	background-color: #ffc800;
}

.Rayquaza{
	background-color: #ffc800;
}

.Flabébé{
	background-color: #ffc800;
}

.Sucreine{
	background-color: #ffc800;
}

.Groudon{
	background-color: #ffc800;
}

.Xerneas{
	background-color: #ffc800;
}

.Draco{
	background-color: #ffc800;
}

.Riolu{
	background-color: #ffc800;
}

.Beldeneige{
	background-color: #ffc800;
}

.Fouinette{
	background-color: #ffc800;
}

.Ptiravi{
	background-color: #ffc800;
}

.Grodoudou{
	background-color: #ffc800;
}

.MimeJr{
	background-color: #ffc800;
}

.Tutankafer{
	background-color: #ffc800;
}

.Toudoudou{
	background-color: #ffc800;
}

.TadmorvA{
	background-color: #ffc800;
}

.Ponyta{
	background-color: #ffc800;
}

.Osselait{
	background-color: #ffc800;
}

.Crèmy{
	background-color: #ffc800;
}

.Picassaut{
	background-color: #ffc800;
}

.Noacier{
	background-color: #ffc800;
}

.Ponchiot{
	background-color: #ffc800;
}

.Coquiperl{
	background-color: #ffc800;
}

.Aspicot{
	background-color: #ffc800;
}

.Tarenbulle{
	background-color: #ffc800;
}

.Nidoqueen{
	background-color: #ffc800;
}

.Solgaleo{
	background-color: #ffc800;
}

.Morpeko{
	background-color: #ffc800;
}

.Elekid{
	background-color: #ffc800;
}

.Draby{
	background-color: #ffc800;
}

.Mystherbe{
	background-color: #ffc800;
}

.Gringolem{
	background-color: #ffc800;
}

.Bouldeneu{
	background-color: #ffc800;
}

.Tentacool{
	background-color: #ffc800;
}

.Azurill{
	background-color: #ffc800;
}

.Entei{
	background-color: #ffc800;
}

.Florizar{
	background-color: #ffc800;
}

.Dunaconda{
	background-color: #ffc800;
}

.MMime{
	background-color: #ffc800;
}

.Métalosse{
	background-color: #ffc800;
}

.Couafarel{
	background-color: #ffc800;
}

.Kabutops{
	background-color: #ffc800;
}

.Lanssorien{
	background-color: #ffc800;
}

.Lancargot{
	background-color: #ffc800;
}

.Libégon{
	background-color: #ffc800;
}

.Deflaisan-m{
	background-color: #ffc800;
}

.Ho-Oh{
	background-color: #ffc800;
}

.Dracaufeu{
	background-color: #ffc800;
}

.Crabicoque{
	background-color: #ffc800;
}

.Pyronille{
	background-color: #ffc800;
}

.Togedemaru{
	background-color: #ffc800;
}

.Luxray{
	background-color: #ffc800;
}

.Lixy{
	background-color: #ffc800;
}

.Canarticho{
	background-color: #ffc800;
}

.Axoloto{
	background-color: #ffc800;
}

.Luxio{
	background-color: #ffc800;
}

.Lainergie{
	background-color: #ffc800;
}

.Araqua{
	background-color: #ffc800;
}

.Carabaffe{
	background-color: #ffc800;
}

.Manzaï{
	background-color: #ffc800;
}

.Suicune{
	background-color: #ffc800;
}

.Flingouste{
	background-color: #ffc800;
}

.Pandespiègle{
	background-color: #ffc800;
}

.Papinox{
	background-color: #ffc800;
}

.Cancrelove{
	background-color: #ffc800;
}

.Smogogo{
	background-color: #ffc800;
}

.Ramoloss{
	background-color: #ffc800;
}

.Miasmiasme{
	background-color: #ffc800;
}

.Chamallot{
	background-color: #ffc800;
}

.Mélo{
	background-color: #ffc800;
}

.Scalproie{
	background-color: #ffc800;
}

.Ecrémeuh{
	background-color: #ffc800;
}

.Crocorible{
	background-color: #ffc800;
}

.Sharpedo{
	background-color: #ffc800;
}

.LimondeG{
	background-color: #ffc800;
}

.Rubombelle{
	background-color: #ffc800;
}

.Ortide{
	background-color: #ffc800;
}

.Rexillius{
	background-color: #ffc800;
}

.Avaltout{
	background-color: #ffc800;
}

.piafabec{
	background-color: #ffc800;
}

.Trousselin{
	background-color: #ffc800;
}

.GoupixA{
	background-color: #ffc800;
}

.Stalgamin{
	background-color: #ffc800;
}

.Magnéti{
	background-color: #ffc800;
}

.Croquine{
	background-color: #ffc800;
}

.Sepiatop{
	background-color: #ffc800;
}

.Carapagos{
	background-color: #ffc800;
}

.Yanma{
	background-color: #ffc800;
}

.Ossatueur{
	background-color: #ffc800;
}

.Lumivole{
	background-color: #ffc800;
}

.Blindalys{
	background-color: #ffc800;
}

.GalopaG{
	background-color: #ffc800;
}

.Wattouat{
	background-color: #ffc800;
}

.Debugant{
	background-color: #ffc800;
}

.Togepi{
	background-color: #ffc800;
}

.Archéomire{
	background-color: #ffc800;
}

.Tarsal{
	background-color: #ffc800;
}

.Sarmuraï{
	background-color: #ffc800;
}

.Skitty{
	background-color: #ffc800;
}

.Pharamp{
	background-color: #ffc800;
}

.Moumouton{
	background-color: #ffc800;
}

.Terhal{
	background-color: #ffc800;
}

.Métang{
	background-color: #ffc800;
}

.Croâporal{
	background-color: #ffc800;
}

.Guérilande{
	background-color: #ffc800;
}

.Lucanon{
	background-color: #ffc800;
}

.Tranchodon{
	background-color: #ffc800;
}

.FeunardA{
	background-color: #ffc800;
}

.Scarabrute{
	background-color: #ffc800;
}

.Sonistrelle{
	background-color: #ffc800;
}

.Abo{
	background-color: #ffc800;
}

.Goupilou{
	background-color: #ffc800;
}

.Gruikui{
	background-color: #ffc800;
}

.Engloutyran{
	background-color: #ffc800;
}

.Morphéo{
	background-color: #ffc800;
}

.Flamajou{
	background-color: #ffc800;
}

.Magby{
	background-color: #ffc800;
}

.Limagma{
	background-color: #ffc800;
}

.Rémoraid{
	background-color: #ffc800;
}

.Phogleur{
	background-color: #ffc800;
}

.Geolithe{
	background-color: #ffc800;
}

.Concombaffe{
	background-color: #ffc800;
}

.Maracachi{
	background-color: #ffc800;
}

.Mimantis{
	background-color: #ffc800;
}

.Larvibule{
	background-color: #ffc800;
}

.Kabuto{
	background-color: #ffc800;
}

.Clic{
	background-color: #ffc800;
}

.Scarhino{
	background-color: #ffc800;
}

.Coupenotte{
	background-color: #ffc800;
}

.Boumata{
	background-color: #ffc800;
}

.Ectoplasma{
	background-color: #ffc800;
}

.Ningale{
	background-color: #ffc800;
}

.Crabagarre{
	background-color: #ffc800;
}

.TutafehG{
	background-color: #ffc800;
}

.Crabominable{
	background-color: #ffc800;
}

.Ecrapince{
	background-color: #ffc800;
}

.Chuchmur{
	background-color: #ffc800;
}

.Relicanth{
	background-color: #ffc800;
}

.Melancolux{
	background-color: #ffc800;
}

.rapasdepic{
	background-color: #ffc800;
}

.Tokopisco{
	background-color: #ffc800;
}

.Dynavolt{
	background-color: #ffc800;
}

.Lunala{
	background-color: #ffc800;
}

.Mucuscule{
	background-color: #ffc800;
}

.Heatran{
	background-color: #ffc800;
}

.Férosinge{
	background-color: #ffc800;
}

.Porygon{
	background-color: #ffc800;
}

.Mimiqui{
	background-color: #ffc800;
}

.Saquedeneu{
	background-color: #ffc800;
}

.Denticrisse{
	background-color: #ffc800;
}

.Hypotrempe{
	background-color: #ffc800;
}

.RattataA{
	background-color: #ffc800;
}

.Flotajou{
	background-color: #ffc800;
}

.Baudrive{
	background-color: #ffc800;
}

.Manglouton{
	background-color: #ffc800;
}

.Azumarill{
	background-color: #ffc800;
}

.MMimeG{
	background-color: #ffc800;
}

.Octillery{
	background-color: #ffc800;
}

.Sorcilence{
	background-color: #ffc800;
}

.Scalpion{
	background-color: #ffc800;
}

.Incisache{
	background-color: #ffc800;
}

.Qwilfish{
	background-color: #ffc800;
}

.Demeteros{
	background-color: #ffc800;
}

.Wailmer{
	background-color: #ffc800;
}

.Corayon{
	background-color: #ffc800;
}

.Tokorico{
	background-color: #ffc800;
}

.Dolman{
	background-color: #ffc800;
}

.Nucleos{
	background-color: #ffc800;
}

.Têtarte{
	background-color: #ffc800;
}

.Magmar{
	background-color: #ffc800;
}

.Moyade-m{
	background-color: #ffc800;
}

.Phione{
	background-color: #ffc800;
}

.Roublenard{
	background-color: #ffc800;
}

.Vibraninf{
	background-color: #ffc800;
}

.Mamanbo{
	background-color: #ffc800;
}

.Électrode{
	background-color: #ffc800;
}

.Linéon{
	background-color: #ffc800;
}

.Magicarpe{
	background-color: #ffc800;
}

.Togetic{
	background-color: #ffc800;
}

.Carmache{
	background-color: #ffc800;
}

.Brindibou{
	background-color: #ffc800;
}

.Floramantis{
	background-color: #ffc800;
}

.Tritox{
	background-color: #ffc800;
}

.Groret{
	background-color: #ffc800;
}

.Barloche{
	background-color: #ffc800;
}

.Bargantua-b{
	background-color: #ffc800;
}

.Frissonille{
	background-color: #ffc800;
}

.Poissoroy{
	background-color: #ffc800;
}

.Regidrago{
	background-color: #ffc800;
}

.Lampignon{
	background-color: #ffc800;
}

.Dispareptil{
	background-color: #ffc800;
}

.Léviator{
	background-color: #ffc800;
}

.Strassie{
	background-color: #ffc800;
}

.Candine{
	background-color: #ffc800;
}

.Hexagel{
	background-color: #ffc800;
}

.Drakkarmin{
	background-color: #ffc800;
}

.Insécateur{
	background-color: #ffc800;
}

.Carchacrok{
	background-color: #ffc800;
}

.Nodulithe{
	background-color: #ffc800;
}

.Yveltal{
	background-color: #ffc800;
}

.Drackhaus{
	background-color: #ffc800;
}

.Dodoala{
	background-color: #ffc800;
}

.Gaulet{
	background-color: #ffc800;
}

.Tarpaud{
	background-color: #ffc800;
}

.Karaclee{
	background-color: #ffc800;
}

.TaupiqueurA{
	background-color: #ffc800;
}

.LinéonG{
	background-color: #ffc800;
}

.Smogo{
	background-color: #ffc800;
}

.Duralugon{
	background-color: #ffc800;
}

.Sabelette{
	background-color: #ffc800;
}

.Cadoizo{
	background-color: #ffc800;
}

.Rhinoféros{
	background-color: #ffc800;
}

.Sancoki-f{
	background-color: #ffc800;
}

.Nigosier{
	background-color: #ffc800;
}

.Braségali{
	background-color: #ffc800;
}

.Braségali{
	background-color: #ffc800;
}
